<div class="page-header section-dark" style="background-image: url('assets/img/background.jpg')">
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <div class="title-brand">
                <div class="angular-logo">
                    <img src="assets/img/logo.png" alt="">
                </div>
                <h1 class="presentation-title">Rohimeran Services</h1>
            </div>

            <h2 class="presentation-subtitle text-center">Kitchen Fitting, Bathroom Fitting, Joinery & More</h2>
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">About</h2>
                <h5 class="description">Your trusted partner in transforming kitchens into functional and beautiful spaces. With a passion for craftsmanship and a commitment to excellence, we take pride in everything we fit.
                Our team brings years of experience, ensuring your project is completed to the highest standards. From design consultations to precise installations, we collaborate closely with you to bring your vision to life. </h5>
                <br>
                <a href="#paper-kit" class="btn btn-danger btn-round">See Details</a>
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-album-2"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Gallery</h4>
                        <p class="description">View highlights from our previous projects</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See Gallery</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-cart-simple"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Services</h4>
                        <p>Kitchen Fitting, Bathroom Fitting, Plastering, Painting, Joinery</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-delivery-fast"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Areas</h4>
                        <p>Fraserburgh, Peterhead, Ellon, Mintlaw, New Pitsligo & surrounding villages</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-bulb-63"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Kitchen Design</h4>
                        <p>Find inspiration with our prefered kitchen supplier's designs.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="carousel">
          <div class="container">
            <br>
              <div class="row">
                  <div class="col-md-8 mr-auto ml-auto">
                      <div class="card page-carousel">
                          <ngb-carousel>
                              <ng-template ngbSlide>
                                  <img src="./assets/img/carousel1.jpg" alt="Random first slide">
                                  <div class="carousel-caption">
                                      <p>Bathroom in New Pitsligo</p>
                                  </div>
                              </ng-template>
                              <ng-template ngbSlide>
                                  <img src="./assets/img/carousel2.jpg" alt="Random second slide">
                                  <div class="carousel-caption">
                                      <p>Kitchen in Ellon</p>
                                  </div>
                              </ng-template>
                              <ng-template ngbSlide>
                                  <img src="./assets/img/carousel3.jpg" alt="Random third slide">
                                  <div class="carousel-caption">
                                      <p>Kitchen in Peterhead</p>
                                  </div>
                              </ng-template>
                          </ngb-carousel>
                      </div>
                  </div>
              </div>
          </div>
    </div>
</div>

<div class="section section-dark text-center">
    <div class="container">
        <h2 class="title">Testemonials</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/faces/jack.png" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Jack Walker</h4>
                                <h6 class="card-category">Happy Customer</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        Lez at Rohimeran Services has a well deserved reputation as one of the finest joiners in New Pitsligo
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/faces/howdens.png" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Bill Kitchen</h4>
                                <h6 class="card-category">Howdens, Fraserburgh</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        Rohimeran services are one of our recommended fitters for good reason. We've never had a complaint! We even asked Rohimeran services to fit our showroom.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/faces/erik-lucatero-2.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Robert Orben</h4>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        The strength of the team is each individual member. The strength of each member is the team. If you can laugh together, you can work together, silence isn’t golden, it’s deadly.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="section landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="text-center">Contact Us?</h2>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Name" (focus)="focus=true" (blur)="focus=false" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Email</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">  <i class="nc-icon nc-email-85"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Email" (focus)="focus1=true" (blur)="focus1=false" >
                                </div>
                            </div>
                        </div>
                        <label>Message</label>
                        <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
                        <div class="row">
                            <div class="col-md-4 mr-auto ml-auto">
                                <button class="btn btn-danger btn-lg btn-fill">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>